.audioPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  color: black;
  padding: 0 10px;
}

@media (max-width: 400px) {
  .now {
    display: none;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .audioPlayer {
    background-color: black;
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  .button {
    color: white;
  }
}
