.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.playing {
  border: 1px solid #000;
}

.card:hover {
  background-color: #eee;
}

.stationName {
  font-size: 1.2em;
  margin: 0;
}

.stationDescription {
  font-size: 0.9em;
}

.favoriteButton {
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.favoriteButton:hover {
  color: #f00;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #333;
  }

  .card:hover {
    background-color: #222;
  }

  .playing {
    border-color: #fff;
  }
}
