.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.playing {
  border: 1px solid #000;
}

.card:hover {
  background-color: #eee;
}

.stationName {
  font-size: 1.2em;
  margin: 0;
}

.stationDescription {
  font-size: 0.9em;
}

.favoriteButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

.showIcon {
  display: block;
}

.hideIcon {
  display: none;
}

.favoriteButton:hover .showIcon {
  display: none;
}

.favoriteButton:hover .hideIcon {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #333;
  }

  .card:hover {
    background-color: #222;
  }

  .playing {
    border-color: #fff;
  }
}
