.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #eee;
}

.stationName {
  font-size: 1.2em;
  margin: 0;
}

.stationDescription {
  font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #333;
  }

  .card:hover {
    background-color: #222;
  }
}
